@import './custom-properties.css';

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: var(--font-family-variation);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
body>div,
body>div>div {
  height: 100%;
}

a {
  color: var(--color-dark-gray);
  text-decoration-skip-ink: 1;

  @nest &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}
