html, body {
  background-color:whitesmoke;
  margin: 0;
  padding: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(22, 23, 24);
}

a {
  color:rgb(48, 109, 159);
}
.postlist {
  margin: 0;
  padding: 0;
}
.postlist > li{
  margin-bottom: 0.5em;
}
