---
layout: layouts/base.njk
templateClass: tmpl-author
---
<h1>{{ author.name }}</h1>

{{ author.bio | markdownify | safe }}

<h2>Collabs</h2>
{% for collab in author.relatedWorks %}
<article>
  {% if collab._type == "post" %}
  <h3><a href="/posts/{{collab.slug.current}}">{{ collab.title }}</a> ({{collab._type}})</h3>
  {% else %}
  <h3><a href="{{collab.link}}">{{ collab.title }}</a> ({{collab.presentationType}})</h3>
  <p>{{collab.description}}</p>
  {% endif %}
</article>
{% endfor %}

{# <pre>{{ author | jsondump }}</pre> #}
<p><a href="{{ '/authors' | url }}">← All collaborators</a></p>
