---
layout: layouts/base.njk
templateClass: tmpl-post
---
{% set hero = post.mainImage %}
<article>
  <div class="hero-container">
    <figure class="hero" style="
      background: url({{hero.metadata.lqip}}) no-repeat;
      background-size: cover;"
      width="{{hero.metadata.dimensions.width}}"
      height="{{hero.metadata.dimensions.height}}"
      aspect-ratio="{{hero.metadata.dimensions.aspectRatio}}"
    >
      {% sanityImage hero, { alt: hero.alt} %}
    </figure>
  </div>
  <h1>{{ post.title }}</h1>
  {# <pre>{{post|jsondump}}</pre> #}
  <p><small>Written by {% for author in post.authors %}<span class="authorName"><a href="/authors/{{author.slug.current}}">{{author.name}}</a> </span>{% endfor %}. Published: {{post.publishedAt|readableDate}}.   Updated: {{post._updatedAt|readableDate}}</small></p>

  {{ post.body | markdownify | safe }}

  <p><a href="{{ '/' | url }}">← Home</a></p>
</article>
