Posts
<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
 {% for post in postslist | reverse %}
  <li class="postlist-item{% if post.slug.current == url %} postlist-item-active{% endif %}">
    <a href="{{ post.slug.current | url }}" class="postlist-link">
      {% if post.title %}{{ post.title }}{% else %}<code>{{ post.slug.current }}</code>{% endif %}
    </a>
    <time class="postlist-date" datetime="{{ post.publishedAt | htmlDateString }}">{{ post.publishedAt | readableDate }}</time>

{#
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
#}
  </li>
{% endfor %}
</ol>
