@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {}

.title {
  composes: responsiveTitle1 from './typography.module.css';
}

.hidden {
  display: none;
}

.mainImage {
  display: block;
  position: relative;

  @nest & figcaption {
    font-size: 0.8rem;
    max-width: 100%;

    @media (--media-min-medium) {
      max-width: 60%;
    }
  }
}

.grid {
  @media (--media-min-medium) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2em;
    grid-template-columns: 3fr 1fr;
  }
}

.mainContent {
  min-width: 0;

  @nest & a {
    color: inherit;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }

  @nest & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-weight: 600;
  }

  @nest & figure {
    margin: 0 0 1em 0;
    padding: 0;

    @nest & img {
      max-width: 100%;
    }
  }
}

.metaContent {}

.publishedAt {
  composes: small from './typography.module.css';
  margin: 1rem 0 2rem;
  color: var(--color-gray);
}

.categories {
  margin: 2rem 0 0 0;

  @nest & ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  @nest & ul li {
    padding: 0.25rem 0;
  }
}

.categoriesHeadline {
  composes: base from './typography.module.css';
  margin: 0.5rem 0 0;
  padding: 1rem 0 0 0;
  border-top: 1px solid var(--color-very-light-gray);
}

.footer {
  margin: 1rem 0 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid var(--color-very-light-gray);
}
