.root {
  display: block;
  width: 100%;
}
.figcaption {
  font-size: smaller;
  border-bottom: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  padding: 0.5rem;
}
